In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import plotly.express as px 
import warnings
import seaborn as sns

In [3]:
pwd

'C:\\Users\\CMuasya'

In [4]:
train = pd.read_csv('C:\\Users\\CMuasya\\downloads\\train_df.csv')

In [5]:
train.head()

,MSISDN,var1m0,var2m0,var2m1,var2m2,var3m0,var3m1,var3m2,var4m0,var4m1,var4m2,churn
0,e6402a0621a1008e24ff649ca130f816a874ffa8c3fbb2...,9.0,36.0,181.0,81.000,9.0,18.0,14.0,172.368667,684.668768,322.631274,0
1,a820530bf21d74af4addc892802ef353a5a50a4ee67e2c...,30.0,380.0,490.0,340.000,30.0,30.0,29.0,2020.364353,2557.849309,1850.967384,0
2,5d1f0c6b460d3b28d91a37dcb095dc528ea89e715fc23d...,30.0,10.0,40.0,50.000,18.0,4.0,5.0,1.464215,0.000000,0.000000,0
3,f6c4e8f5bd2094a1208ccb9c9cba34057d3c888771208f...,28.0,199.0,170.0,147.000,27.0,21.0,28.0,196.165514,107.077169,113.009810,0
4,8d381167df78d8cd6844eb85d5271073fd703d3f3b9832...,30.0,0.0,0.0,89.607,30.0,26.0,27.0,1618.556483,1549.379331,1410.695167,0

In [6]:
train.dtypes

MSISDN     object
var1m0    float64
var2m0    float64
var2m1    float64
var2m2    float64
var3m0    float64
var3m1    float64
var3m2    float64
var4m0    float64
var4m1    float64
var4m2    float64
churn       int64
dtype: object

In [7]:
train.shape

(100800, 12)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100800 entries, 0 to 100799
Data columns (total 12 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   MSISDN  100800 non-null  object
 1   var1m0  95422 non-null   float64
 2   var2m0  61499 non-null   float64
 3   var2m1  64251 non-null   float64
 4   var2m2  67184 non-null   float64
 5   var3m0  95422 non-null   float64
 6   var3m1  95422 non-null   float64
 7   var3m2  95422 non-null   float64
 8   var4m0  61499 non-null   float64
 9   var4m1  64251 non-null   float64
 10  var4m2  67184 non-null   float64
 11  churn   100800 non-null  int64
dtypes: float64(10), int64(1), object(1)
memory usage: 9.2+ MB

# Data Cleaning

In [9]:
train.isnull().sum()

MSISDN        0
var1m0     5378
var2m0    39301
var2m1    36549
var2m2    33616
var3m0     5378
var3m1     5378
var3m2     5378
var4m0    39301
var4m1    36549
var4m2    33616
churn         0
dtype: int64

In [10]:
train_clean = train.dropna(axis=0)
train_clean

,MSISDN,var1m0,var2m0,var2m1,var2m2,var3m0,var3m1,var3m2,var4m0,var4m1,var4m2,churn
0,e6402a0621a1008e24ff649ca130f816a874ffa8c3fbb2...,9.0,36.0,181.0,81.000,9.0,18.0,14.0,172.368667,684.668768,322.631274,0
1,a820530bf21d74af4addc892802ef353a5a50a4ee67e2c...,30.0,380.0,490.0,340.000,30.0,30.0,29.0,2020.364353,2557.849309,1850.967384,0
2,5d1f0c6b460d3b28d91a37dcb095dc528ea89e715fc23d...,30.0,10.0,40.0,50.000,18.0,4.0,5.0,1.464215,0.000000,0.000000,0
3,f6c4e8f5bd2094a1208ccb9c9cba34057d3c888771208f...,28.0,199.0,170.0,147.000,27.0,21.0,28.0,196.165514,107.077169,113.009810,0
4,8d381167df78d8cd6844eb85d5271073fd703d3f3b9832...,30.0,0.0,0.0,89.607,30.0,26.0,27.0,1618.556483,1549.379331,1410.695167,0
...,...,...,...,...,...,...,...,...,...,...,...,...
100682,bb7ac98fc4043cff6ec094d32c8bc85fcc1ab120d73c2d...,30.0,0.0,0.0,0.000,24.0,16.0,20.0,3619.731009,0.008487,1073.625340,1
100690,1445dd64a313e5813e149d4feaa0621c02d231c8286348...,23.0,0.0,0.0,0.000,12.0,14.0,20.0,369.794298,264.630440,18.616520,1
100735,6c6bc61f34b3b22a2e70ec1d015af6e810940ef588a6b0...,30.0,0.0,0.0,0.000,29.0,30.0,29.0,5944.022512,6588.261904,8066.980116,1
100775,143e4b6514195bd34644e51295e3f1f9092dc3c3da67d5...,30.0,0.0,0.0,0.000,30.0,29.0,30.0,2501.144776,3890.682934,3021.885468,1
100781,67fec97c96b44f9e68ad45d00fea4482a78e079a806b4e...,17.0,60.0,30.0,20.000,6.0,3.0,2.0,0.000000,0.000000,0.000000,1

In [11]:
train_clean.isnull().sum()

MSISDN    0
var1m0    0
var2m0    0
var2m1    0
var2m2    0
var3m0    0
var3m1    0
var3m2    0
var4m0    0
var4m1    0
var4m2    0
churn     0
dtype: int64

In [12]:
#checking for duplicates 
train_clean[train_clean.duplicated(['var1m0', 'var2m0', 'var2m1', 'var2m2', 'var3m0', 'var3m1', 'var4m0', 'var4m1', 'var4m2'])]

,MSISDN,var1m0,var2m0,var2m1,var2m2,var3m0,var3m1,var3m2,var4m0,var4m1,var4m2,churn
704,eb79afb22127060175769a73041de6f88f3b5d4fb55950...,30.0,0.0000,0.0000,0.0000,26.0,29.0,29.0,704.007869,145.147002,1466.098048,0
1792,0fdc74632c28c6cc869066c4671a84b0c11013d22d2973...,25.0,0.0000,0.0000,0.0000,9.0,7.0,7.0,1.891281,0.211710,0.114825,0
4217,58be29ee2d9a598482c0ca1555a68697d5788495ac31b6...,30.0,0.0000,0.0000,0.0000,30.0,30.0,29.0,18920.904810,19048.590060,17080.199560,0
4295,d9658b8da1924044c68141c48be70b5f5d8143b0720172...,30.0,0.0000,0.0000,0.0000,19.0,18.0,24.0,246.691515,725.460001,1051.890407,0
14059,72373e85604f6fce9ba10cf7ade98fc570bf2951c1c045...,30.0,0.0000,60.0000,0.0000,4.0,8.0,21.0,425.642860,1090.128726,3151.398569,0
17162,7aa44a513037d617452d053e0f8f00a9ad1016fe0c7acf...,25.0,36.0000,0.0000,20.0000,14.0,6.0,11.0,712.613996,60.761329,161.026414,0
32853,9088218725a91e2d5582470581d77b6e7843cbccbb4f84...,24.0,0.0000,0.0000,60.0000,14.0,30.0,23.0,110.729266,250.515447,151.326050,0
33112,274fb720b62722179e7ea70b78c1628cd5767564676ddd...,30.0,0.0000,0.0000,0.0000,30.0,27.0,29.0,1839.283643,858.116180,1035.054111,0
34507,91faeefabf9866bf3bf6db88c5851a462d19eb28c61490...,14.0,0.0000,0.0000,0.0000,8.0,16.0,4.0,0.338931,5.407331,16.687089,0
35326,984a3d9ca43a27379041948b9a8d3bc69cf3f4f303d8ab...,30.0,270.0000,265.0000,75.0000,20.0,26.0,21.0,452.980880,291.290459,262.549552,0
43951,2fb230db668718006ce17656ada0cedcc13d29880db62b...,28.0,20.0000,40.0000,20.0000,3.0,4.0,5.0,12.175537,63.071409,93.775543,0
51700,a4dd50dc492b02826ec5338de6b1029bd23fb96f7dcf49...,30.0,0.0000,0.0000,0.0000,28.0,30.0,30.0,15134.059540,19215.454200,5412.586144,0
60401,6409d3472a647f3b586162e69c6ad2e76902b0cd0e12b8...,26.0,0.0000,70.0000,60.0000,8.0,17.0,19.0,40.938031,1696.644624,467.987168,0
61556,181e51a3666a02b970f2d40bd6ce8f029439f573ad1cba...,16.0,2.5956,1.5246,73.1042,4.0,18.0,18.0,7.505265,48.034159,126.466852,0
66275,a3588f0fc7e34d6928c2f920f5416c4d0397c6bc8bc343...,30.0,104.9310,672.9862,511.1100,17.0,22.0,19.0,424.453071,2878.929971,2102.458263,0
78462,29ced8b456ccf82e61133e2b28962871f426ea34c15d5d...,30.0,95.0000,210.0000,50.0000,28.0,30.0,24.0,4528.838505,3964.603844,4464.848509,0
84412,36bf42ebf52c68b26ed038c0a6d7d3c6d88ee3387f2a4b...,30.0,380.0000,540.0000,540.0000,29.0,30.0,30.0,14552.287860,9525.200893,9829.093578,0
84840,80d85fad71c53ac893dd376fd2a80784692bc375536bb1...,30.0,76.5000,18.0000,126.0000,29.0,27.0,29.0,568.091351,433.594861,1498.859579,0
90249,715a384f9e53063e74c49868670d9e88992a751fc579da...,30.0,39.9798,81.0608,0.0000,9.0,19.0,4.0,3.226288,96.515787,5.697976,0

In [13]:
#removing the duplicates
train_clean = train_clean.drop_duplicates()

In [14]:
#checking whether drop duplicates command has effected
train_clean[train_clean.duplicated(['var1m0', 'var2m0', 'var2m1', 'var2m2', 'var3m0', 'var3m1', 'var4m0', 'var4m1', 'var4m2'])]

Empty DataFrame
Columns: [MSISDN, var1m0, var2m0, var2m1, var2m2, var3m0, var3m1, var3m2, var4m0, var4m1, var4m2, churn]
Index: []

# Outliers

checking for outliers in all columns

In [15]:
train_clean['var1m0'].describeibe()

AttributeError: 'Series' object has no attribute 'describeibe'

In [ ]:
sns.boxplot(train_clean['var1m0'])

In [ ]:
sns.boxplot(train_clean['var2m0'])

In [ ]:
train_clean['var2m0'].describe()

In [ ]:
train_clean['var2m1'].describe()

In [ ]:
sns.boxplot(train_clean['var2m1'])

In [ ]:
train_clean['var2m2'].describe()

In [ ]:
sns.boxplot(train_clean['var2m2'])

In [ ]:
train_clean['var3m0'].describe()

In [ ]:
sns.boxplot(train_clean['var3m0'])

In [ ]:
train_clean['var3m1'].describe()

In [ ]:
sns.boxplot(train_clean['var3m1'])

In [ ]:
train_clean['var3m2'].describe()

In [ ]:
sns.boxplot(train_clean['var3m2'])

In [ ]:
train_clean['var4m2'].describe()

In [ ]:
sns.boxplot(train_clean['var4m2'])

In [ ]:
#replacing the outliers 
train_clean['var1m0'] = np.where(train_clean['var1m0']<=25, 25, train_clean['var1m0'])

In [ ]:
sns.boxplot(train_clean['var1m0'])

In [ ]:
train_clean['var3m0'] = np.where(train_clean['var3m0']>=28, 28, train_clean['var3m0'])

In [ ]:
sns.boxplot(train_clean['var3m0'])

In [ ]:
train_clean['var4m2'].describe()

In [ ]:
sns.boxplot(train_clean['var4m2'])

In [ ]:
train_clean['var4m2'] = np.where(train_clean['var4m2']>=1590.058204, 1590.058204, train_clean['var4m2'])

In [ ]:
sns.boxplot(train_clean['var4m2'])

In [ ]:
train_clean['var2m0'].describe()

In [ ]:
sns.boxplot(train_clean['var2m0'])

In [ ]:
train_clean['var2m0'] = np.where(train_clean['var2m0']>=58, 58, train_clean['var2m0'])

In [ ]:
sns.boxplot(train_clean['var2m0'])

In [ ]:
train_clean['var2m1'].describe()

In [ ]:
sns.boxplot(train_clean['var2m1'])

In [ ]:
train_clean['var2m1'] = np.where(train_clean['var2m1']>=65, 65, train_clean['var2m1'])

In [ ]:
sns.boxplot(train_clean['var2m1'])

In [ ]:
train_clean['var4m0'].describe()

In [ ]:
sns.boxplot(train_clean['var4m0'])

In [ ]:
train_clean['var4m0'] = np.where(train_clean['var4m0']>=1485.000571, 1485.000571, train_clean['var4m0'])

In [ ]:
sns.boxplot(train_clean['var4m0'])

In [ ]:
train_clean['var4m1'].describe()

In [ ]:
sns.boxplot(train_clean['var4m1'])

In [ ]:
train_clean['var4m1'] = np.where(train_clean['var4m1']>=1476.358762, 1476.358762, train_clean['var4m1'])

In [ ]:
sns.boxplot(train_clean['var4m1'])

**Heatmap to demostrate the correlation between the independent variables.**

In [ ]:
train_clean.corr()

In [ ]:
list(train_clean.columns)

In [ ]:
train_clean.drop(['var1m0_no_outliers'], axis = 1)

In [ ]:
train_clean = train_clean.drop(['var3m0_no_outliers', 'var4m2_no_outliers', 'var2m0_no_outliers', 'var1m0_no_outliers'], axis = 1)

In [ ]:
train_clean.columns

In [ ]:
train_clean.corr()

In [ ]:
sns.heatmap(train_clean.corr())

# Hypothese Testing

Formulaion of a hypothesis and testing the hypothesis Using the variable var2m0 and the dependant variable churn. 
This will involve creation of a null Hypothesis and an alternative hypothesis.
The two groups being compared is the churn and not-churn

In [ ]:
import math
import scipy.stats as stats

In [ ]:
train_clean.head()

In [ ]:
churned = train_clean.loc[train_clean['churn'] == True]
not_churned = train_clean.loc[train_clean['churn'] == False]

In [ ]:
churned.head()

In [ ]:
not_churned.head()

In [ ]:
sns.distplot(churned['var2m0'], label = "Churned Customers under var2m0")
sns.displot(not_churned['var2m0'])
plt.legend()
plt.show()

In [ ]:
sns.kdeplot(churned['var2m0'], shade=True, hue=churned['churn'], multiple='stack')
sns.kdeplot(not_churned['var2m0'], shade=False, hue=not_churned['churn'], multiple='stack')
plt

# Data Descriptives

Grouping the customers by churn. How many customers churned/Not churned and count how many customers are in each of the group

In [ ]:
#grouping the customers by churn 
train_clean.groupby('churn')['churn'].count()

In [ ]:
list(train_clean.columns)

**Grouping the customers who churned and not churned in different groups**

In [ ]:
var1m0_churned = train_clean.loc[train_clean['churn'] == True]
var1m0_churned.head()

In [ ]:
var1m0_churned.drop(columns=['var2m0', 'var2m1', 'var2m2', 'var3m0', 'var3m1', 'var3m2', 'var4m0', 'var4m1', 'var4m2'])

In [ ]:
var1m0_not_churned = train_clean.loc[train_clean['churn'] == False].drop(columns=['var2m0', 'var2m1', 'var2m2', 'var3m0', 'var3m1', 'var3m2', 'var4m0', 'var4m1', 'var4m2'])
var1m0_not_churned

In [ ]:
list(churned.columns)

var2m0 churned and not churned subsets

In [ ]:
var2m0_churned = train_clean.loc[train_clean['churn'] == True].drop(columns=['var1m0', 'var2m1', 'var2m2', 'var3m0', 'var3m1', 'var3m2', 'var4m0', 'var4m1', 'var4m2'])
var2m0_churned.head()

In [ ]:
var2m0_not_churned = train_clean.loc[train_clean['churn'] == False].drop(columns=['var1m0', 'var2m1', 'var2m2', 'var3m0', 'var3m1', 'var3m2', 'var4m0', 'var4m1', 'var4m2'])
var2m0_not_churned.head()

var2m1 churned and not churned subsets

In [ ]:
var2m1_churned = train_clean.loc[train_clean['churn'] == True].drop(columns=['var1m0', 'var2m0', 'var2m2', 'var3m0', 'var3m1', 'var3m2', 'var4m0', 'var4m1', 'var4m2'])
var2m1_churned.head()

In [ ]:
var2m1_not_churned = train_clean.loc[train_clean['churn'] == False].drop(columns=['var1m0', 'var2m0', 'var2m2', 'var3m0', 'var3m1', 'var3m2', 'var4m0', 'var4m1', 'var4m2'])
var2m1_not_churned.head()

var2m2 churned and not churned subsets

In [ ]:
var2m2_churned = train_clean.loc[train_clean['churn'] == True].drop(columns=['var1m0', 'var2m0', 'var2m1', 'var3m0', 'var3m1', 'var3m2', 'var4m0', 'var4m1', 'var4m2'])
var2m2_churned.head()

In [ ]:
var2m2_not_churned = train_clean.loc[train_clean['churn'] == False].drop(columns=['var1m0', 'var2m0', 'var2m1', 'var3m0', 'var3m1', 'var3m2', 'var4m0', 'var4m1', 'var4m2'])
var2m2_not_churned.head()

var3m0 churned and not churned subsets

In [ ]:
var3m0_churned = train_clean.loc[train_clean['churn'] == True].drop(columns=['var1m0', 'var2m0', 'var2m1', 'var2m2', 'var3m1', 'var3m2', 'var4m0', 'var4m1', 'var4m2'])
var3m0_churned.head()

In [ ]:
var3m0_not_churned = train_clean.loc[train_clean['churn'] == False].drop(columns=['var1m0', 'var2m0', 'var2m1', 'var2m2', 'var3m1', 'var3m2', 'var4m0', 'var4m1', 'var4m2'])
var3m0_not_churned.head()

var3m1 churned and not churned datasets

In [ ]:
var3m1_churned = train_clean.loc[train_clean['churn'] == True].drop(columns=['var1m0', 'var2m0', 'var2m1', 'var2m2', 'var3m0', 'var3m2', 'var4m0', 'var4m1', 'var4m2'])
var3m1_churned.head()

In [ ]:
var3m1_not_churned = train_clean.loc[train_clean['churn'] == False].drop(columns=['var1m0', 'var2m0', 'var2m1', 'var2m2', 'var3m0', 'var3m2', 'var4m0', 'var4m1', 'var4m2'])
var3m1_not_churned.head()

var3m2 churned and not churned subsets

In [ ]:
var3m2_churned = train_clean.loc[train_clean['churn'] == True].drop(columns=['var1m0', 'var2m0', 'var2m1', 'var2m2', 'var3m0', 'var3m1', 'var4m0', 'var4m1', 'var4m2'])
var3m2_churned.head()

In [ ]:
var3m2_not_churned = train_clean.loc[train_clean['churn'] == False].drop(columns=['var1m0', 'var2m0', 'var2m1', 'var2m2', 'var3m0', 'var3m1', 'var4m0', 'var4m1', 'var4m2'])
var3m2_not_churned.head()

var4m0 churned and not churned datasets

In [ ]:
var4m0_churned = train_clean.loc[train_clean['churn'] == True].drop(columns=['var1m0', 'var2m0', 'var2m1', 'var2m2', 'var3m0', 'var3m1', 'var3m2', 'var4m1', 'var4m2'])
var4m0_churned.head()

In [ ]:
var4m0_not_churned = train_clean.loc[train_clean['churn'] == False].drop(columns=['var1m0', 'var2m0', 'var2m1', 'var2m2', 'var3m0', 'var3m1', 'var3m2', 'var4m1', 'var4m2'])
var4m0_not_churned.head()

var4m1 churned and not churned subsets

In [ ]:
var4m1_churned = train_clean.loc[train_clean['churn'] == True].drop(columns=['var1m0', 'var2m0', 'var2m1', 'var2m2', 'var3m0', 'var3m1', 'var3m2', 'var4m0', 'var4m2'])
var4m1_churned.head()

In [ ]:
var4m1_not_churned = train_clean.loc[train_clean['churn'] == False].drop(columns=['var1m0', 'var2m0', 'var2m1', 'var2m2', 'var3m0', 'var3m1', 'var3m2', 'var4m0', 'var4m2'])
var4m1_not_churned.head()

var4m2 churned and not churned subsets

In [ ]:
var4m2_churned = train_clean.loc[train_clean['churn'] == True].drop(columns=['var1m0', 'var2m0', 'var2m1', 'var2m2', 'var3m0', 'var3m1', 'var3m2', 'var4m0', 'var4m1'])
var4m2_churned.head()

In [ ]:
var4m2_not_churned = train_clean.loc[train_clean['churn'] == False].drop(columns=['var1m0', 'var2m0', 'var2m1', 'var2m2', 'var3m0', 'var3m1', 'var3m2', 'var4m0', 'var4m1'])
var4m2_not_churned.head()

# Visualization

 relationship between the variables var2m1,var3m1,var4m1 and the churn variable

1. find the total of churned and not_churned customers in each of the var variables
2. create a dataframe out of it 
3. plot a bar chart out of the dataframe

In [ ]:
#var2m1

In [ ]:
var2m1_churned['churn'].count()

In [ ]:
var2m1_not_churned['churn'].count()

In [ ]:
#var3m1

In [ ]:
var3m1_churned['churn'].count()

In [ ]:
var3m1_not_churned['churn'].count()